html, body {
    height: auto;
    min-height: 100%;
}

html.gray,
html.gray body {
    background: #fafafa;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.withpadding {
    margin-left: 15px;
    margin-right: 15px;
}

.veeam.container {
    width: auto;
    height: 100%;
}

.veeam .fake-green {
    background: #54b948;
    padding: 10px 0px 12px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
}

.veeam .thin-th {
    font-weight: normal;
    border: none;
}

.veeam .tab-content {
    position: relative;
    top: 10px;
}

.veeam .nav-tabs > li.active > a {
    border: none;
    border-bottom: 3px solid #54b948;
}

.veeam .nav-tabs > li > a:hover {
    background-color: #fff;
    border-color: transparent;
}

.veeam .nav-tabs > li.active > a:hover {
    border-bottom: 3px solid #54b948;
}

.veeam .nav-tabs > li > a {
    text-align: center;
}

.veeam .nav-tabs {
    border-bottom: 1px solid #f0f1f2;
}

.veeam .nav-tabs > li > a {
    border: none;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-color: #f0f1f2;
}

.veeam .promo-list {
    margin-right: 15px;
    margin-left: 15px;
    padding-bottom: 50px;
}

.veeam .promo-list-bg {
    background-color: #fafafa;
    height: 100%;
}

.veeam select {
    margin-top: 8px;
}

.veeam .promo-item {
    margin-top: 15px;
    background: #ffffff;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.veeam .promo-item__title {
    color: #3c3d3e;
    font-size: 17px;
    font-weight: normal;
}

.veeam .promo-item__date {
    color: #6a6e71;
    font-size: 14px;
}

.veeam .promo-item__desc {
    font-size: 14px;
    color: #3b3c3e;
    margin-top: 5px;
    font-weight: 400;
}

.veeam sup {
    position: relative;
    top: -3px;
    font-size: 10px;
}

.veeam .form-control {
    box-shadow: none;
}

@media (min-width: 768px) {
    .tabs-block, .tab-content {
        padding-left: 25px;
        padding-right: 25px;
    }
}