.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.veeam.container {
    width: auto;
}

.veeam .fake-green {
    background: #54b948;
    padding: 10px 0px 12px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
}

.veeam .thin-th {
    font-weight: normal;
    border: none;
}

.veeam .tab-content {
    position: relative;
    top: 10px;
}

.veeam .nav-tabs > li.active > a {
    border: none;
    border-bottom: 3px solid #54b948;
}

.veeam .nav-tabs > li > a:hover {
    background-color: #fff;
    border-color: transparent;
}

.veeam .nav-tabs > li.active > a:hover {
    border-bottom: 3px solid #54b948;
}

.veeam .nav-tabs > li > a {
    text-align: center;
}

.veeam .nav-tabs {
    border-bottom: 1px solid #f0f1f2;
}

.veeam .nav-tabs > li > a {
    border: none;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-color: #f0f1f2;
}

@media (min-width: 768px) {
    .tabs-block, .tab-content {
        padding-left: 25px;
        padding-right: 25px;
    }
}