html, body {
    height: auto;
    min-height: 100%;
}

html.gray,
html.gray body {
    background: #fafafa;
}

html.deep-gray,
html.deep-gray body {
    background: #f0f1f2;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.withpadding {
    margin-left: 15px;
    margin-right: 15px;
}

.veeam.container {
    width: auto;
    height: 100%;
}

.veeam .fake-green {
    background: #54b948;
    padding: 10px 0px 12px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
}

.veeam .thin-th {
    font-weight: normal;
    border: none;
}

.veeam .tab-content {
    position: relative;
    top: 10px;
    padding-bottom: 50px;
}

.veeam .nav-tabs > li.active > a {
    border: none;
    border-bottom: 3px solid #54b948;
}

.veeam .nav-tabs > li > a:hover {
    background-color: #fff;
    border-color: transparent;
}

.veeam .nav-tabs > li.active > a:hover {
    border-bottom: 3px solid #54b948;
}

.veeam .nav-tabs > li > a {
    text-align: center;
}

.veeam .nav-tabs {
    border-bottom: 1px solid #f0f1f2;
}

.veeam .nav-tabs > li > a {
    border: none;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-color: #f0f1f2;
}

.veeam .promo-list {
    margin-right: 15px;
    margin-left: 15px;
    padding-bottom: 50px;
}

.gray .veeam .nav-tabs {
    border: none;
}

.veeam .promo-list-bg {
    background-color: #fafafa;
    height: 100%;
}

.veeam select {
    margin-top: 8px;
}

.veeam .promo-item {
    margin-top: 15px;
    background: #ffffff;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.veeam .promo-item__title {
    color: #3c3d3e;
    font-size: 17px;
    font-weight: normal;
}

.veeam .promo-item__date {
    color: #6a6e71;
    font-size: 14px;
}

.veeam .promo-item__desc {
    font-size: 14px;
    color: #3b3c3e;
    margin-top: 5px;
    font-weight: 400;
}

.veeam sup {
    position: relative;
    top: -3px;
    font-size: 10px;
}

.veeam .form-control {
    box-shadow: none;
}

.veeam .tabs-block {
    background: #ffffff;
}

.veeam .resource {
    border: 1px solid #ccc;
    background: #fcfcfc;
    padding: 7px;
    border-radius: 4px;
    margin-bottom: 10px;
    overflow: hidden;
    padding-left: 50px;
}

.veeam .resource img {
    width: 32px;
    height: 37px;
    float: left;
    display: block;
    margin-left: -40px;
}

.veeam .resource span {
    font-size: 17px;
    margin: 5px 0px 0px 5px;
    display: block;
    float: left;
}

.section-resources,
.section-details,
.section-tc {
    margin-left: 15px;
    margin-right: 15px;
}

.veeam .black-header {
    background: #fff;
    text-align: center;
}

.veeam .black-header__title {
    font-size: 20px;
    color: #222;
    max-width: 250px;
    margin: 0px auto;
    margin-top: 7px;
    line-height: 120%;
    font-weight: bold;
}

.veeam .black-header__util {
    color: #666;
    padding-bottom: 15px;
    margin-top: 5px;
    font-size: 13px;
}

.veeam .black-header img {
    width: 50px; height: 50px;
    display: block;
    margin: 15px auto 10px;
}

.veeam .bold-text {
    font-size: 13px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.veeam .pricing-list {
    padding-top: 15px;
}

.veeam .pricing-list .section-resources {
    margin: 15px 0px 20px !important;
}

.veeam .pricing-list .footer-description {
    margin-bottom: 10px;
}

.veeam .pricing-list .footer-block-submit input {
    margin-bottom: 10px;
}

.btn.green {
    background: #2eb349;
    color: #fff;
    outline: none;
}

.btn.white-silver {
    background: rgb(247,247,247); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(247,247,247,1) 0%, rgba(239,239,239,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,247,247,1)), color-stop(100%,rgba(239,239,239,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(239,239,239,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(239,239,239,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(239,239,239,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(247,247,247,1) 0%,rgba(239,239,239,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */
    outline: none;
}

.veeam .pricing-list .footer-block-submit button.green {
    padding: 6px 50px;
    font-size: 18px;
    margin: 0 auto;
    width: 160px;
    height: 40px;
    display: block;
}

.veeam .ty-block {
    width: 270px;
    margin: 120px auto;
    line-height: 200%;
}

.veeam .ty-block-text {
    font-size: 22px;
    text-align: center;
}

.veeam .ty-block .btn-ok {
    text-transform: uppercase;
    width: 140px;
    height: 40px;
    margin: 40px auto;
    display: block;
}

.veeam .term-conditions {
    padding-top: 20px;
}

.veeam .term-conditions .paragraph {
    margin-bottom: 20px;
}

.veeam .term-conditions .resources {
    margin-bottom: 40px;
}

.veeam .term-conditions button {
    padding: 9px 42px;
    min-width: 135px;
}

.veeam .resource-with-triangle {
    padding: 10px 7px 10px 50px;
    background: #fafafa url(../../assets/img/resource-traingle.png) 95% center no-repeat;
}

.veeam .term-conditions .buttons-bottom {
    overflow: hidden;
}

.veeam .term-conditions .buttons-bottom .btn-left {
    float: left;
}


.veeam .term-conditions .buttons-bottom .btn-right {
    float: right;
}

@media (min-width: 768px) {
    .tabs-block, .tab-content {
        padding-left: 25px;
        padding-right: 25px;
    }

    .veeam .black-header__title {
        max-width: 600px;
    }

    .section-resources,
    .section-details,
    .section-tc {
        margin: 0px;
    }
}

@media (min-width: 440px) {
    .veeam .term-conditions .buttons-bottom .btn-left {
        float: left;
    }


    .veeam .term-conditions .buttons-bottom .btn-right {
        float: left;
        margin-left: 20px;
    }
}