<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
        "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registered deals</title>
    <link rel="stylesheet" media="all" href="../assets/css/vendor/bootstrap.css"/>
    <link rel="stylesheet" media="all" href="../assets/css/app.css"/>
    <script type="text/javascript">
        var JsonData = {
                resources: [
                    {
                        name: 'General.pdf',
                        type: 'pdf'
                    },
                    {
                        name: 'Promo.xls',
                        type: 'xls'
                    },
                    {
                        name: 'Rental.doc',
                        type: 'doc'
                    }
                ]
        };
    </script>
</head>
<body>
<script type="text/template" id="resource">
    <% _.each(items, function(item) { %>
    <div class="resource">
        <img src="../assets/img/<%- item.type %>-ico.jpg" alt="<%- item.type %> document"/>
        <span><%- item.name %></span>
    </div>
    <% }); %>
</script>
<div class="container veeam">

    <div class="row fake-green">
        <span>Veeam Pricing</span>
    </div>
    <div class="pricing-list">
        <p class="bold-text">
            Downoload Veeam pricing files:
        </p>

        <!-- resources placeholder -->
        <div class="section-resources nopadding"></div>

        <div class="footer-description">
            <p class="bold-text">
                or provide your e-mail and we will send pricing to you:
            </p>
        </div>

        <div class="footer-block-submit" data-action="http://goo.gl">
            <input type="text" placeholder="Your_email@domain.com" name="email" class="form-control" id="email_input"/>
            <button class="btn green submitResources">Submit</button>
        </div>
    </div>
</div>

<script type="text/javascript" src="../assets/js/vendor/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../assets/js/vendor/bootstrap.js"></script>
<script type="text/javascript" src="../assets/js/vendor/underscore.js"></script>
<script type="text/javascript" src="../assets/js/pricing.js"></script>
</body>
</html>