<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
        "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registered deals</title>
    <link rel="stylesheet" media="all" href="../assets/css/vendor/bootstrap.css"/>
    <link rel="stylesheet" media="all" href="../assets/css/app.css"/>
    <script type="text/javascript">
        var JsonData = {
            selectOptions: {
                product: ['hyper-v', 'hyper-y'],
                business: ['small', 'big']
            },
            promotions: [
                {
                    title: 'NetApp e-series and Veeam Backup Essentials',
                    date: 'util June 30',
                    desc: 'some description',
                    product_type: false,
                    business_type: 'small'
                },
                {
                    title: 'NetApp e-series and Veeam Backup Essentials',
                    date: 'util June 30',
                    desc: 'Help your customers save 10% on Veeam® Backup Essentials™ Enterprise or Enterprise Plus Editions',
                    product_type: 'hyper-v',
                    business_type: false
                },
                {
                    title: 'NetApp e-series and Veeam Backup Essentials',
                    date: 'util June 30',
                    desc: 'Pew pew Enterprise or Enterprise Plus Editions',
                    product_type: 'hyper-v',
                    business_type: 'small'
                },
                {
                    title: 'NetApp e-series and Veeam Backup Essentials',
                    date: 'util June 30',
                    desc: 'Help your customers save 10% on Veeam® Backup Essentials™ Enterprise or Enterprise Plus Editions',
                    product_type: 'hyper-y',
                    business_type: false
                },
                {
                    title: 'NetApp e-series and Veeam Backup Essentials',
                    date: 'util June 30',
                    desc: 'Help your customers save 10% on Veeam® Backup Essentials™ Enterprise or Enterprise Plus Editions',
                    product_type: 'hyper-y',
                    business_type: 'big'
                }
            ]
        };
    </script>
</head>
<body>
<script type="text/template" id="promoItem">
    <% _.each(items, function(item, key, list) { %>
        <div class="promo-item">
            <div class="promo-item__title">
                <%- item.title %>
            </div>

            <div class="promo-item__date">
                <%- item.date %><sup>th</sup>
            </div>

            <div class="promo-item__desc">
                <%- item.desc %>
            </div>
        </div>
    <% }); %>
</script>
<script type="text/template" id="selectOptions">
    <% _.each(items, function(item) { %>
        <option value="<%- item %>"><%- item %></option>
    <% }); %>
</script>
<div class="container veeam">

    <div class="row fake-green">
        <span>Promotions</span>
    </div>

    <div class="row promo-list-bg">
        <div class="promo-list">
            <select class="form-control product_types" name="product_types" id="product_types">
                <option selected value="all">All products</option>
            </select>

            <select class="form-control business_types" name="business_types" id="business_types">
                <option selected value="all">All business sizes</option>
            </select>

            <div class="promo-items row nopadding">

            </div>

        </div>
    </div>

</div>

<script type="text/javascript" src="../assets/js/vendor/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../assets/js/vendor/bootstrap.js"></script>
<script type="text/javascript" src="../assets/js/vendor/underscore.js"></script>

<script type="text/javascript" src="../assets/js/promo.js"></script>

</body>
</html>