<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
        "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registered deals</title>
    <link rel="stylesheet" media="all" href="../assets/css/vendor/bootstrap.css"/>
    <link rel="stylesheet" media="all" href="../assets/css/app.css"/>
    <script type="text/javascript">
        var JsonData = {

            title: 'NetApp e-series and Veeam Backup Essentials',

            util: 'util June 30',

            details:
            'Elevate your sales by selling NetApp and Veeam together. <br><br> Until April 30, 2015, your customers can get' +
            'a 10% discount on Veeam by purchasing' +
            'NetApp E2700 series and Veeam® Backup' +
            'Essentials™ Enterprise or Enterprise Plus' +
            'Edition. Don\'t miss this opportunity to close more deals!<br/>' +
            'Offer specially priced NetApp E2700 series' +
            'and a 10% discount on Veeam Backup' +
            'Essentials™ Enterprise or Enterprise Plus' +
            'combined solution and:<br/><br/><ul>' +

            '<li>Increase your business with the combined' +
            'Veeam and NetApp solution</li>' +
            '<li>Close more deals by selling NetApp and' +
            'Veeam together</li>' +
            '<li>Get higher margins with bigger deals</li>' +
            '<li>And much more!</li></ul><br/>' +
            'Increase your revenue by offering your customers the chance to achieve unprecedented levels of data protection and the ' +
            'fastest recovery time and point objectives (RTPO™) with Veeam and the NetApp E2700 series.',

            resources: [
                {
                    name: 'Document name.pdf',
                    type: 'pdf'
                },
                {
                    name: 'Document name.pdf',
                    type: 'doc'
                },
                {
                    name: 'Document name.pdf',
                    type: 'doc'
                },
                {
                    name: 'Document name.pdf',
                    type: 'pdf'
                },
                {
                    name: 'Document name.pdf',
                    type: 'xls'
                }
            ],

            tc: 'Some text here...'
        };
    </script>
</head>
<body>
<script type="text/template" id="resource">
    <% _.each(items, function(item) { %>
        <div class="resource">
            <img src="../assets/img/<%- item.type %>-ico.jpg" alt="<%- item.type %> document"/>
            <span><%- item.name %></span>
        </div>
    <% }); %>
</script>
<div class="container veeam">

    <div class="row fake-green">
        <span>NetApp e-series...</span>
    </div>

    <div class="black-header row">
        <img src="../assets/img/promo_icon.png"/>
        <div class="black-header__title">

        </div>
        <div class="black-header__util">
            <span></span><sup>th</sup>
        </div>
    </div>

    <div class="row tabs-block">
        <!-- Nav tabs -->
        <ul class="nav col-lg-12 col-md-12 col-xs-12 nopadding nav-tabs">
            <li class="active col-xs-4 col-sm-2 nopadding"><a href="#details" data-tab="details" data-toggle="tab">DETAILS</a></li>
            <li class="col-xs-4 col-sm-2 nopadding"><a href="#resources" data-tab="resources" data-toggle="tab">RESOURCES</a></li>
            <li class="col-xs-4 col-sm-2 nopadding"><a href="#tc" data-tab="tc" data-toggle="tab">T&C</a></li>
        </ul>
    </div>
    <!-- Tab panes -->
    <div class="row tab-content">
        <div class="tab-pane active" id="details">
            <div class="section-details">

            </div>
        </div>

        <div class="tab-pane" id="resources">
            <div class="section-resources">

            </div>
        </div>

        <div class="tab-pane" id="tc">
            <div class="section-tc">

            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="../assets/js/vendor/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../assets/js/vendor/bootstrap.js"></script>
<script type="text/javascript" src="../assets/js/vendor/underscore.js"></script>

<script type="text/javascript" src="../assets/js/promoSingle.js"></script>

</body>
</html>